@import '../../styles/variables_color';
@import '../../styles/variables_font';
@import '../../styles/mixins';

.landingpage {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $color_grey_1;
    color: $color_grey_3;
    align-items: center;
    justify-content: center;

    span {
        color: $color_gold_1;
    }
    
}

.welcomeMessage {
    position: relative;
    max-width: 600px;

    p {
        font-weight: $fw_thin;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: linear 100ms;
    }
}

h2 {
    @include chart_style($color_blue_2, white, 20pt);
}