@import '../../styles/variables_color';
@import '../../styles/variables_font';
@import '../../styles/mixins';

.landingpage {

    display: flex;
    height: 100vh;
    width: 100%;
    font-size: $fs_medium;
    background-color: $color_grey_1;
    color: $color_grey_3;
    align-items: center;
    justify-content: center;
    z-index: 1;

    span {
        color: $color_gold_1;
    }
}

.welcomeMessage {

    position: fixed;
    max-width: 1000px;
    padding: 0 20px;

    h1 {
        color: $color_blue_2;
    }

    p {
        font-weight: $fw_thin;
        font-size: $fs_medium;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: linear 100ms;
    }
}

.scrollMouse {
    @include flex-centered();
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 5vh;

    .mouseBody {
        @include flex-centered();
        height: 50px;
        width: 30px;
        border: $color_blue_2 solid 2px;
        border-radius: 30px;

        .mouseWheel {
            margin-top: 5px;
            height: 20px;
            width: 5px;
            background: $color_grey_2;
            border-radius: 3px;
            animation: wheelhop 3s ease infinite;

            @keyframes wheelhop {
                0% {
                    transform: translateY(0) scaleY(1);
                    opacity: 1;
                }
                50% {
                    transform: translateY(7px) scaleY(0.8);
                    opacity: 0;
                }
                75% {
                    transform: translateY(7px) scaleY(1);
                    opacity: 0; 
                }
                100% {
                    transform: translateY(0) scaleY(1);
                    opacity: 1; 
                }
            }
        }
    }

    p {
        color: $color_grey_2;
        font-size: $fs_small;
        line-height: 0;
    }
}
