@import "../../styles/variables_color";
@import "../../styles/variables_font";
@import "../../styles/mixins";

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 99;
  color: $color_blue_1;
  font-weight: $fw_bold;
  letter-spacing: 2pt;
  line-height: 10pt;
  height: 60px;
  pointer-events: none;

  div {
    pointer-events: auto;
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }

  img {
    height: 50px;
  }

  img:last-child {
    height: 30px;
  }
}

.mainLogo {
  display: flex;
  gap: 10px;
  align-items: center;

  .name {
    @media screen and (max-width: 1500px) {
      display: none;
    }
  }
}

.navigationBar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: rgba(222, 222, 222, 0.9);
  z-index: 98;
  border-left: 1px solid $color_blue_2;
  transition: all 0.4s ease;
  transform: translateX(100%);

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 3vh;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    li {
      display: flex;
      width: 80%;
      height: 5vh;
      background: $gradient_blue_2;
      color: $color_gold_1;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      transition: all 0.4s ease;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
        background: $gradient_gold_1;
        color: $color_blue_2;
        border: $color_blue_2 1px solid;
      }
    }
  }
}

.navigationBar {
  transition: all 0.8s ease;
}
