<header>
  <div class="mainLogo" [routerLink]="['/']" fragment="top">
    <img src="assets/img/logo_main.svg" />
    <p class="name">
      Patrick <br />
      Frey
    </p>
  </div>
  <div class="btn_menu">
    <img src="assets/img/btn_menu.svg" (click)="showMenu()" />
  </div>
</header>

<section
  class="navigationBar"
  [ngStyle]="{
    opacity: itemOpacity,
    transform: 'translateX(' + itemPosition + '%)'
  }"
>
  <ul>
    <li *ngFor="let i of links" [routerLink]="['/']" [fragment]="i.link">
      {{ i.name }}
    </li>
  </ul>
</section>
