<div class="hero">
  <div class="heroImages">
    <div
      class="des-img"
      [ngStyle]="{
        'clip-path': 'inset(0 ' + leftClip + '% 0 0)',
        transform: 'translateX(' + transformX + 'px)'
      }"
    ></div>
    <div
      class="dev-img"
      [ngStyle]="{
            'clip-path': 'inset(0 0 0 ' + rightClip + '%)',
            'transform': 'translateX(' + transformX + 'px)',
          }"
    ></div>
    <div class="hero-titles">
      <div class="des-title">
        <h2>designer</h2>
        <p>as architect i love designing your products.</p>
      </div>

      <div class="dev-title">
        <h2>developer</h2>
        <p>with passion for clean, ellegant and efficient code.</p>
      </div>
    </div>
  </div>

  <div
    class="heroText"
    data-aos="flip-up"
    data-aos-duration="1500"
    data-aos-anchor-placement="center-bottom"
  >
    <p>
      […] gelernter <span>Architekt</span>, der sich auf die
      <span>Digitalisierung des Bauwesens</span> spezialisiert hat. Meine
      Begeisterung für IT treibt mich seit meiner Jugend voran.<br /><br />
      <span>Komplexe Aufgaben</span> zu analysieren und das erlangte Wissen zu
      teilen ist für mich wesentlicher Bestandteil des Weges zum gemeinsamen
      Erfolg.<br />
      <br />
      Nun möchte ich meinen lang gehegten Traum erfüllen - <br />
      als <span>Web Developer</span>.
    </p>
  </div>
  <div class="line"></div>
</div>
