<div class="hero">

    <div class="heroImages">
        <div class="des-img"></div>
        <div class="dev-img"></div>
    </div>

    <div class="heroText">
        <p>[…] gelernter <span>Architekt</span>, der sich auf die <span>Digitalisierung des Bauwesens</span> spezialisiert hat.
            Meine Begeisterung für IT treibt mich seit meiner Jugend voran.<br><br>
            <span>Komplexe Aufgaben</span> zu analysieren und das erlangte Wissen zu teilen ist für mich wesentlicher Bestandteil des Weges zum gemeinsamen Erfolg.<br>
            <br> Nun möchte ich meinen lang gehegten Traum erfüllen - <br>
            als <span>Web Developer</span>.</p>
    </div>
    <div class="line"></div>
</div>

