<div class="hero">

    <div class="heroImages">
        <div
          class="des-img" [ngStyle]="{
            'clip-path': 'inset(0 ' + leftClip + '% 0 0)',
            'transform': 'translateX(' + transformX + 'px)'
          }">
        </div>
        <div
          class="dev-img" [ngStyle]="{
            'clip-path': 'inset(0 0 0 ' + rightClip + '%)',
            'transform': 'translateX(' + transformX + 'px)'
          }">
        </div>

    <div class="heroText">
        <p>[…] gelernter <span>Architekt</span>, der sich auf die <span>Digitalisierung des Bauwesens</span> spezialisiert hat.
            Meine Begeisterung für IT treibt mich seit meiner Jugend voran.<br><br>
            <span>Komplexe Aufgaben</span> zu analysieren und das erlangte Wissen zu teilen ist für mich wesentlicher Bestandteil des Weges zum gemeinsamen Erfolg.<br>
            <br> Nun möchte ich meinen lang gehegten Traum erfüllen - <br>
            als <span>Web Developer</span>.</p>
    </div>
    <div class="line"></div>
</div>

