@import '../../styles/variables_color';
@import '../../styles/variables_font';
@import '../../styles/mixins';

.hero {
    z-index: 10;
    position: relative;
    margin-top: 200vh;
    height: 100vh;
    background: $gradient_hero;
    overflow: hidden;
    @include flex-centered();
}

.heroImages {
    position: absolute;
    height: 60vh;
    width: 100%;
    margin-top: 0;
    @include flex-centered();
}

.des-img, .dev-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: clip-path 0.8s linear, transform 1s linear;

    &.des-img {
        clip-path: inset(0 50% 0 0);
        background-image: url('/assets/img/hero_des.png');
    }
    &.dev-img {
        clip-path: inset(0 0 0 50%);
        background-image: url('/assets/img/hero_dev.png');
    }
}

.hero-titles {
    display: flex;
    position: absolute;
    margin-top: 20vh;
    justify-content: center;
    width: 100%;
    gap: 30%;
    z-index: 10;

    .des-title,
    .dev-title {
        height: 200px;
        width: clamp(30px, 100%, 250px);

        h2 {
            font-size: $fs_headline;
            font-weight: $fw-ethin;
            line-height: 0;
        }
        p {
            font-size: $fs_smallest;
            font-weight: $fw-ethin;
            letter-spacing: 2pt;
            line-height: 0,1;
            transform: translateY(-10px);
            color: $color_grey_1;
            stroke: $color_blue_1;
        }
        @media screen and (max-width: 800px) {
            h2 {
                font-size: xx-large;
            }
            p {
                display: none;
            }
        }
    }
}

.des-title {
    margin: 0 0 0 70px;
    text-align: right;
    h2 {
        color: $color_orange_1;
    }
}

.dev-title {
    margin: 0 70px 0 0;
    h2 {
        color: $color_blue_1;
    }
}


.heroText {
    display: flex;
    position: absolute;
    height: 30vh;
    width: clamp(350px, 70%, 800px);
    margin-top: 60vh;
    padding: 20px;
    align-items: center;
    // Font Style
    color: $color_grey_1;
    font-weight: $fw-ethin;
    font-size: $fs_small;
    text-align: center;
    letter-spacing: 3pt;

    // text higlights
    span {
        font-weight: $fw-normal;
    }
    span:first-child {
        color: $color_orange_1;
    }
    span:nth-of-type(n+2):nth-of-type(-n+3) {
        color: $color_gold_1;
    }
    span:last-child {
        color: $color_blue_1;
    }
  }

.line {
    display: flex;
    height: 0.5px;
    width: 100%;
    transform: translateY(60vh);
    background: $color_grey_2;
}