
    <div class="graph"
    [ngStyle]="{'background': skillBackground,
                'border-top': skillBorderColor + ' ' + skillBorderWidth,
                'border-left': skillBorderColor + ' ' + skillBorderWidth,
                'border-right': skillBorderColor + ' ' + skillBorderWidth,
                'border-bottom': '0px solid transparent', 
                'height' : skillPercentage + '%',
                }"
                >
        <p>
            <span class="percentageSkill">{{ skillPercentage }}</span>
            <span class="percentageSymbol">%</span>
        </p>
        <p class="nameSkill">
            {{ skillCategory }}
        </p>
    </div>