
@mixin chart_style($bg-color, $ft-color, $stroke_weight) {
    background: $bg-color;
    stroke: $stroke_weight;
    color: $ft-color;
}

@mixin flex-centered() {
    display: flex;
    justify-content: center;
}

@mixin topic-title ($title_color) { 
    font-size: $fs_headline;
    font-weight: $fw_thin;
    color: $title_color;
    letter-spacing: 7px;
}

@mixin topic-layout ($height, $background) { 
    height: $height;
    overflow: hidden;
    background: $background;
    margin-left: 60px;
    margin-right: 60px;
}

@mixin topic-text () { 
    font-weight: $fw-thin;
    font-size: $fs_small;
    color: $color_grey_2;
    line-height: 1.5;
}

@mixin topic-background ($height) {
    position: absolute;
    background-color: $color_grey_1;
    margin: 0;
    height: $height;
    width: 100%;
    z-index: 3;
}

@mixin absolute-width-100 () {
    position: absolute;
    width: 100%;
}

@mixin line-h ($width, $type) {
    display: flex;
    border-top: 0.5px $type $color_grey_2; 
    width: $width;
}

@mixin line-v ($height, $type) {
    display: flex;
    border-left: 0.5px $type $color_grey_2; 
    height: $height; 
}

@mixin graph-background ($color-border, $color-gradient) {
    background: $color-gradient;
    border: $color-border solid 0.2px;
    box-shadow: inset 0 6px 5px rgba(255, 255, 255, 0.4);
}