
@mixin chart_style($bg-color, $ft-color, $stroke_weight) {
    background: $bg-color;
    stroke: $stroke_weight;
    color: $ft-color;
}

@mixin flex-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}