//FONT WEIGHT

$fw_ethin: 100;
$fw_thin: 300;
$fw_normal: 500;
$fw_bold: 700;
$fw_ebold: 900;

//FONT SIZES

$fs_smallest: calc(8px + 0.5vw);
$fs_small: calc(10px + 0.5vw);
$fs_medium: calc(16px + 0.8vw);
$fs_headline: calc(10px + 2vw);
$fs_about2: calc(5vw + 3vh);
$fs_about: calc(80px + 4vw);