<div class="line"></div>
<section class="centeredContainer">

    <section class="projects">
        <div class="topic-title">PROJECTS</div>

        <!-- Container for Project Pictures -->
         <ul class ="project-list">
            <!-- Project-Cards -->
            <app-project-card *ngFor="let amount of [0,1,2,3,4,5]"
                [projectTitle] = "'ProjectTitle'"
                [projectImage]="'/assets/img/facts/4.jpg'">
            </app-project-card>
         </ul>

         <div class="buttonMore">SEE MORE</div>
    </section>


</section>