<div class="line"></div>
<section class="centeredContainer">
  <section class="projects">
    <div
      class="topic-title"
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-anchor-placement="center-center"
    >
      PROJECTS
    </div>

    <!-- Animation on Scroll -->
    <section
      data-aos="zoom-in-down"
      data-aos-duration="1500"
      data-aos-anchor-placement="center-center"
    >
      <!-- Container for initial Projects -->
      <ul class="project-list">
        <!-- Project-Cards -->
        <app-project-card
          *ngFor="let item of initialProjects"
          class="project-card"
          [projectTitle]="item.title"
          [projectImage]="item.image"
          [projectUrl]="item.about"
          [projectCode]="item.code"
        >
        </app-project-card>
      </ul>

      <!-- Container for more Projects -->
      <ul class="project-list" [@fadeInOut]="state">
        <!-- Project-Cards -->
        <app-project-card
          *ngFor="let item of moreProjects"
          class="project-card"
          [projectTitle]="item.title"
          [projectImage]="item.image"
          [projectUrl]="item.about"
          [projectCode]="item.code"
        >
        </app-project-card>
      </ul>
    </section>

    <div class="buttonMore" (click)="toggleState()">
      {{ state === "hidden" ? "view more" : "view less" }}
    </div>
  </section>
</section>
