<div class="line"></div>
<section class="centeredContainer">

    <section class="projects">
        <div class="topic-title">PROJECTS</div>

        <!-- Container for Project Pictures -->
         <ul class ="project-list">
            <!-- Project-Cards -->
            <app-project-card *ngFor="let i of displayedProjects;"
                [projectTitle] = "i.title"
                [projectImage]="i.image"
                [projectUrl]= "i.about"
                [projectCode]= "i.code">
            </app-project-card>
         </ul>

         <div class="buttonMore" (click)="toggleShowAll()">
            {{ showAll ? 'SHOW LESS' : 'SHOW ALL' }}
          </div>
    </section>

</section>