@import '../../styles/variables_color';
@import '../../styles/variables_font';
@import '../../styles/mixins';


.centeredContainer {
    @include flex-centered();
}

.topic-title {
    padding: calc(3vh + 3vw) 0 3vh 0;
    @include topic-title($color_grey_1);
    text-align: center;
}

.projects {
    @include topic-layout(auto, $color_blue_2);
    z-index: 10;
    position: relative;
    max-width: 1000px;
    width: calc(100% + 120px);
}

.line {
    position: relative;
    @include line-h(100%, solid);
    z-index: 3;
}

.project-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    height: auto;
    width: 100%;
    max-width: 1000px;
    margin-bottom: calc(3vh + 3vw);
    gap: calc(1vh + 1vw) calc(0.6vh + 0.6vw);
    padding: 0;
   // margin: 1vh 0 10vh 0;
    overflow: hidden;

    @media screen and (max-width : 804px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .project {
        position: relative;
        width: 100%;
        padding-top: 100%;

        .project-content {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: calc(1vw + 1vh);
            margin: 0;
            border-radius: 2vmin;
            background: $color_grey_1;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .usedTools {
                display: flex;
                flex-wrap: wrap;
                justify-content: center; 
                gap: calc(0.2vw + 0.2vh);
                width: 65%;
                padding: 0;
                list-style-type: none;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                .usedToolsIcon {
                    width: calc(20px + 1vw); //calc(2vh + 2vw);
                    height: calc(20px + 1vw); //calc(2vh + 2vw);
                    max-width: 50px;
                    max-height: 50px;
                    background: $color_blue_1;
                    justify-self: center;

                    @media screen and (max-width: 385px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.project-infos {
    
    .project-title {
        font-size: $fs_medium;
    } 

    .project-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: calc(0.4vw + 0.4vh);
        padding: 0;
        list-style-type: none;
        font-size: $fs_smallest;
    }
}