<div class="topic-background"></div>

<section class="centeredContainer">

    <section class="skills">
        <div class="topic-title">SKILLS</div>

        <section class="containerSkill">

            <section class="graph-lines">
                <div class="line-v">
                </div>
                <div class="lines-h">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>    
            </section>

            <section class="skill-graphs">
                <app-skill-graph></app-skill-graph>
                <app-skill-graph></app-skill-graph>
                <app-skill-graph></app-skill-graph>
                <app-skill-graph></app-skill-graph>
            </section>

        </section>

        <section class="tools-list">
            <ul>
                <app-tool-box *ngFor="let i of [0,1,2,3,4,5,6,7]"></app-tool-box>
            </ul>
        </section>

        <section class="skills-content">
            <p>
                Mit meiner Erfahrung als Architekt seit 2015 beherrsche ich diverse BIM- und CAD-Tools, darunter die <span class="gold">Autodesk Suite, Revizto & Solibri</span>.
                <br><br>
                Als Frontend-Entwickler arbeite ich mit <span class="gold">HTML</span>, <span class="gold">CSS</span>, <span class="gold">JavaScript</span> und <span class="gold">Angular</span>.
                Prototypen entwickle ich mit <span class="gold">Figma</span>.
                Seit vielen Jahren nutze ich die <span class="gold">Adobe Suite</span> für Mediendesign und <span class="gold">DaVinci Resolve</span> für Videobearbeitung im Privaten als Hobby.
            </p>
        </section>
    </section>

</section>

