<div class="topic-background"></div>

<div class="centeredContainer">

    <div class="skills">
        <div class="topic-title">SKILLS</div>

        <div class="containerSkill">

            <div class="graph-lines">
                <div class="line-v">
                </div>
                <div class="lines-h">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>    
            </div>



        </div>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor voluptatibus temporibus,
            ea repellendus qui explicabo sit et recusandae, distinctio voluptate officiis,
            repellat numquam beatae. Illum consequatur quas ea possimus repellat.
        </p>
    </div>

</div>

