<app-header></app-header>
<app-landingpage></app-landingpage>

<main>
  <div class="about" [style.height]="aboutHeight + 'vh'">
    <p
      [ngStyle]="{
                'opacity': aboutOpacity,
                'transform': 'scale(' + aboutScale + ')',
                'filter': 'blur(' + aboutBlur + 'px)',
            }"
    >
      ABOUT
    </p>
  </div>

  <app-hero></app-hero>
  <app-facts></app-facts>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-cv></app-cv>
  <app-hobbies></app-hobbies>
  <app-footer></app-footer>
  
</main>
