@import '../styles/variables_color';
@import '../styles/variables_font';
@import '../styles/mixins';


.about {

    font-size: $fs_about;
    color: $color_gold_1;
    background: $color_blue_2;
    @include flex-centered();

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: disappear 2s linear forwards;
}

@keyframes disappear {
    0% {
        height: 0vh;
        transform: translateY(50vh); 
    }
    100% {
        position: absolute;
        height: 100vh; 
        transform: translateY(0vh);
    }
}

.about-content {
  position: relative;
  padding: 0;
  left:0;
  top: 0;
  width: 100vw;
  height: 200vh;
  background: $color_blue_2;
  z-index:0;
}