<app-header></app-header>
<app-landingpage id="top"></app-landingpage>
<main>
  <!-- ABOUT -->
  <div class="about" [style.height]="aboutHeight + 'vh'">
    <p
      [ngStyle]="{
                'opacity': aboutOpacity,
                'transform': 'scale(' + aboutScale + ')',
                'filter': 'blur(' + aboutBlur + 'px)',
            }"
    >
      ABOUT
    </p>
  </div>

  <!-- FOOTER -->
  <section
    class="footer"
    [ngStyle]="{
                'opacity': footerOpacity,
  }"
  >
    <div class="topic-title">Let's get in touch!</div>
    <ul class="urls">
      <li
        class="icon"
        *ngFor="let item of urlIcons"
        [ngStyle]="{
          'background-image': 'url(' + item.icon + ')',
          'background-size': '50%',
          'background-position': 'center',
          'background-repeat': 'no-repeat'
        }"
        (click)="navigateToUrl(item.url)"
      ></li>
    </ul>
    <div class="copyright">© 2024 Patrick Frey - all rights reserved</div>
    <div>
      <video autoplay muted loop plays-inline playsinline class="video">
        <source src="/assets/vid/footer/backgroundloop.mp4" type="video/mp4" />
      </video>
    </div>
  </section>

  <!-- COMPONENTS -->
  <app-hero id="about"></app-hero>
  <app-facts id="facts"></app-facts>
  <app-skills id="skills"></app-skills>
  <app-projects id="projects"></app-projects>
  <app-cv id="cv"></app-cv>
  <app-hobbies id="hobbies"></app-hobbies>
  <section  id="contact"></section>
</main>