@import '../../styles/variables_color';
@import '../../styles/variables_font';
@import '../../styles/mixins';


.centeredContainer {
    @include flex-centered();
}

.projects {
    @include topic-layout(auto, $color_grey_1);
    @include section-padding();
    z-index: 10;
    position: relative;
    width: 100%;

    .topic-title {
        padding: calc(3vh + 3vw) 0 3vh 0;
        @include topic-title($color_blue_2);
        text-align: center;
    }

    .personal-infos {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 20px;

        p:first-child {
            font-weight: bold;
        }
        .info-container {
            text-align: center;
            color: $color_grey_2;
        }
    }
}

.line {
    position: relative;
    @include line-h(100%, solid);
    z-index: 3;
}