@import "../../styles/variables_color";
@import "../../styles/variables_font";
@import "../../styles/mixins";

[data-aos="fade-right"] {
  transform: translateX(-30%);
}

[data-aos="fade-left"] {
  transform: translateX(30%);
}

.centeredContainer {
  @include flex-centered();
}

.projects {
  @include topic-layout(auto, $color_grey_1);
  @include section-padding();
  z-index: 10;
  position: relative;
  width: 100%;

  .topic-title {
    @include topic-title($color_blue_2);
    padding: calc(3vh + 3vw) 0 3vh 0;
    text-align: center;
  }

  .personal-infos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1.8vw;
    font-size: $fs_small;
    color: $color_grey_2;
    line-height: 0.8;

    .info-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 1vmin;
      padding: 15px 15px;
      width: 25%;
      max-width: 100px;
      text-wrap: nowrap;
      overflow: hidden;

      .base-text,
      .hover-text {
        position: absolute;
        width: 100%;
        text-align: center;
      }

      .base-text {
        opacity: 1;
      }

      .hover-text {
        opacity: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .info-container:first-child {
      @include graph-background($color_blue_1, $gradient_blue_1);
    }
    .info-container:nth-child(2) {
      @include graph-background($color_orange_1, $gradient_orange_1);
    }
    .info-container:nth-child(3) {
      @include graph-background($color_gold_1, $gradient_gold_1);
    }
    .info-container:last-child {
      @include graph-background($color_blue_2, $gradient_blue_2);
    }
  }
}

.timeline {
  margin: 5vmin 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0%); // optional adjust

  .cvTitle {
    text-align: center;
    font-size: $fs_medium_small;
    color: $color_gold_1;
    z-index: 2;
    padding: 10px 0;
    background: linear-gradient(
      to top,
      transparent,
      $color_grey_1 30%,
      $color_grey_1 70%,
      transparent
    );
  }

  .cvElement {
    @include flex-centered();
    @include topic-text($color_grey_2, $fw_thin);
    align-items: center;
    width: 100%;
    gap: 1em;
    z-index: 2;

    .cvYear {
      text-align: right;
    }
    .cvIconElement {
      width: 1.5em;
      height: 1.5em;
      @include graph-background($color_blue_2, $gradient_blue_2);
      border: $color_grey_2 1px solid;
      border-radius: 50%;
    }
    .cvYear,
    .cvInfo {
      width: 40%;
      text-wrap: nowrap;
    }
  }
}
.vLine {
  position: absolute;
  margin-top: 3vh;
  height: calc(100% - 2vh);
  width: 0.5vmin;
  background: $color_blue_1;
  z-index: 1;
  @include common-border-radius();
}
.line {
  @include line-h(100%, solid);
  position: relative;
  z-index: 3;
}
