
<section class="centeredContainer">

    <section class="projects">


        <div class="topic-title">CURICULUM VITAE</div>
        <!-- continuing here / creating content -->

        <table class="personal-information">
            <tr>
                <th>Nationality</th>
                <th>Work Mode</th>
                <th>Living near</th>
                <th>Languages</th>
            </tr>
            <tr>
                <td>German</td>
                <td>Remote-First</td>
                <td>Frankfurt</td>
                <td>german & english</td>
            </tr>
        </table>

    </section>

</section>