<section class="centeredContainer">
  <section class="projects">
    <div class="topic-title">CURICULUM VITAE</div>
    <!-- continuing here / creating content -->

    <section class="personal-infos">
      <div
        *ngFor="let info of personalInfo; let i = index"
        class="info-container"
        (mouseover)="state[i] = 'hoveredText'"
        (mouseout)="state[i] = 'baseText'"
      > 
        <span [@hoverState]="state[i]" class="base-text">
          {{ info.category }}
        </span>
        <span [@hoverContent]="state[i]" class="hover-text">
          {{ info.content }}
        </span>
      </div>
    </section>

    <section class="timeline">
      <div class="cvTitle">
        <div class="cvIconTitle"></div>
        <p>ACADEMIC</p>
      </div>

      <div class="cvElement" *ngFor="let i of [0, 1, 2, 3, 4]">
        <p class="cvYear">2000-2024</p>
        <div class="cvIconElement"></div>
        <p class="cvInfo">Milestone XYZ</p>
      </div>

      <div class="cvTitle">
        <div class="cvIconTitle"></div>
        <p>PROFESSIONAL</p>
      </div>

      <div class="cvElement" *ngFor="let i of [0, 1, 2, 3, 4]">
        <p class="cvYear">2000-2024</p>
        <div class="cvIconElement"></div>
        <p class="cvInfo">Milestone XYZ</p>
      </div>
    </section>
  </section>
</section>
