<section class="centeredContainer">
  <section class="projects">
    <div class="topic-title">CURICULUM VITAE</div>
    <!-- continuing here / creating content -->

    <section class="personal-infos">
      <div class="info-container">
        <p>Nationality</p>
        <p>German</p>
      </div>

      <div class="info-container">
        <p>Work Mode</p>
        <p>Reomte-First</p>
      </div>

      <div class="info-container">
        <p>Living near</p>
        <p>Frankfurt</p>
      </div>

      <div class="info-container">
        <p>Languages</p>
        <p>german & english</p>
      </div>
    </section>
  </section>
</section>
