@import "../../styles/variables_color";
@import "../../styles/variables_font";
@import "../../styles/mixins";

.centeredContainer {
  @include flex-centered();
}
.max-width {
  @include app-max-width();
}

.hobbies {
  @include topic-layout(auto, $color_grey_1);
  @include section-padding();
  @include flex-centered();
  z-index: 10;
  position: relative;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .topic-title {
    @include topic-title($color_blue_2);
    padding: calc(3vh + 3vw) 0 3vh 0;
  }
}

.hobbies-pics {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-bottom: calc(1vh + 1vw);
  gap: 0.25%;
}

.hobbyButtons {
  display: grid;
  grid-template-columns: repeat(6, 90px);
  width: 100%;
  margin-bottom: calc(3vh + 3vw);
  justify-content: space-between;

  .singleButton {
    width: 90px;
    height: 90px;
    border: 1px solid $color_grey_2;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
    &.clicked {
      box-sizing: border-box;
      box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

@media screen and (max-width: 650px) {
  .hobbyButtons {
    grid-template-columns: repeat(6, 60px);
    justify-content: center;
    gap: 10px;
    .singleButton {
      width: 60px;
      height: 60px;
    }
  }
}
@media screen and (max-width: 480px) {
  .hobbies-pics {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin-bottom: calc(1vh + 1vw);
    gap: 0.25%;
  }
  .hobbyButtons {
    grid-template-columns: repeat(3, 50px);
    .singleButton {
      width: 50px;
      height: 50px;
    }
  }
}
