<div class="line"></div>
<section class="centeredContainer">
  <section class="hobbies">
    <div
      class="topic-title max-width"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-anchor-placement="center-center"
    >
      HOBBIES
    </div>

    <div
      class="hobbies-pics max-width"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor-placement="center-center"
    >
      <app-picture-card *ngFor="let i of hobbyPictures" [backgroundImage]="i">
      </app-picture-card>
    </div>

    <div
      class="hobbyButtons max-width"
      data-aos="fade-up"
      data-aos-duration="2000"
      data-aos-anchor-placement="bottom-bottom"
    >
      <div
        class="singleButton"
        *ngFor="let i of hobbyIcons"
        [ngStyle]="{
          'background-image': 'url(' + i + ')',
          'background-size': '50%',
          'background-position': 'center',
          'background-repeat': 'no-repeat'
        }"
        [class.clicked]="clickedButton === i"
        (click)="setActive(i)"
      ></div>
    </div>
  </section>
</section>
<div class="shadow"></div>
