<div class="topic-background"></div>

<section class="centeredContainer">

    <section class="skills">
        <div class="topic-title">SKILLS</div>

        <section class="containerSkill">

            <section class="graph-lines">
                <div class="line-v">
                </div>
                <div class="lines-h">
                    <div *ngFor="let i of [0,1,2,3]"></div>
                </div>    
            </section>

            <section class="skill-graphs">
                <app-skill-graph  *ngFor="let item of categories; let index_item = index" 
                    [skillPercentage]="item.percentage" 
                    [skillCategory]="item.category"
                    [skillBorder]="item.border"
                    [skillBackground]="item.background"
                    [ngStyle]="{'height': item.percentage + '%'}"
                    [class.interactive]="index_item < 4"
                    (mouseover)="onMouseOver(index_item)">
                </app-skill-graph>
            </section>

        </section>

        <section class="tools-list">
            <ul>
                <app-tool-box *ngFor="let tool of tool_list"
                [tool_image]="tool.image"
                [tool_name]="tool.name"
                [tool_background]="tool.background">
                </app-tool-box>
            </ul>
        </section>

        <section class="skills-content">
            <p>
                Mit meiner Erfahrung als Architekt seit 2015 beherrsche ich diverse BIM- und CAD-Tools, darunter die <span class="gold">Autodesk Suite, Revizto & Solibri</span>.
                <br><br>
                Als Frontend-Entwickler arbeite ich mit <span class="gold">HTML</span>, <span class="gold">CSS</span>, <span class="gold">JavaScript</span> und <span class="gold">Angular</span>.
                Prototypen entwickle ich mit <span class="gold">Figma</span>.
                Seit vielen Jahren nutze ich die <span class="gold">Adobe Suite</span> für Mediendesign und <span class="gold">DaVinci Resolve</span> für Videobearbeitung im Privaten als Hobby.
            </p>
        </section>
    </section>

</section>

