@import '../../styles/variables_color';
@import '../../styles/variables_font';
@import '../../styles/mixins';


.centeredContainer {
    @include flex-centered();
}

.topic-background {
    @include topic-background(100vh);
}

.topic-title {
    padding: 5vh 0 3vh 0;
    @include topic-title($color_blue_2);
}

.skills {
    @include topic-layout(100vh, $color_grey_1);
    z-index: 10;
    position: relative;
    max-width: 1200px;
}

@media screen and (max-width:1000px) {
    .skills {
        @include topic-layout(80vh, $color_grey_1);
    }
    .topic-background {
        @include topic-background(80vh);
    }
    
}

.tools-list {
    padding-bottom: 3vw; //padding to next section

    ul {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1%;
        padding: 0;
        margin: 0;
        list-style-type: none;

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(4, 1fr);
            grid-row: 1fr;
        }
        app-tool-box {
            transition: opacity 0.8s ease-in-out;
        }
    }
}


.containerSkill {
    position: relative;
    height: 0;
    padding-top: 40%; // padding hack / instead of aspect ratio
    margin: 0 0 5vh 0;

    @media screen and (max-width: 768px) {
        padding-top: 55%;
        margin: 0 0 2vh 0;
    }
    .skill-graph,
    .graph-lines {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;

    }

    .skill-graphs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: auto;
        margin-left: 5.6%;

        :hover {
            cursor: pointer;
        }
    }

    .graph-lines {

        .line-v {
            @include line-v(100%, solid);
        }

        .lines-h {
            position: absolute;
            display: flex;
            top: 0;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            flex-direction: column;

            div {
                @include line-h(100%, dotted);
                    
                &:last-child {
                    @include line-h(100%, solid);
                    z-index:1;
                }
            }
        }
    }
}

.skills-content {
    @include topic-text();
    span {
        font-weight: $fw_bold;

        &.design {
            color: $color_blue_1;
        }
        &.code {
            color: $color_orange_1;
        }
        &.cad {
            color: $color_gold_1;
        }
        &.video {
            color: $color_blue_2;
        }
    }

}

.interactive {
    cursor: pointer;
    background-color: lightblue;
  }