<script src="https://unpkg.com/scrollreveal"></script>

<div class="topic-background"></div>

<div class="facts">
    <div class="bike"></div>
    <div class="facts-content">
        <div class="topic-title">RANDOM FACTS</div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor voluptatibus temporibus,
            ea repellendus qui explicabo sit et recusandae, distinctio voluptate officiis,
            repellat numquam beatae. Illum consequatur quas ea possimus repellat.</p>
    </div>
</div>
