<div class="topic-background"></div>

<div class="centeredContainer">
        <div class="facts">
            <div class="facts-bike">
                <div class="line"></div>
            </div>

            <div class="facts-content">
                <div class="topic-title">RANDOM FACTS</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor voluptatibus temporibus,
                    ea repellendus qui explicabo sit et recusandae, distinctio voluptate officiis,
                    repellat numquam beatae. Illum consequatur quas ea possimus repellat.
                </p>
            </div>
        </div>

        <div class="facts-picture-gallery">
            <app-picture-card
                    *ngFor="let i of numbers" 
                    [backgroundImage]="pictures[i]">
            </app-picture-card>
        </div>

</div>
