/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import './styles/variables_color.scss';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgba(222, 222, 222, 1);
    font-family: "Roboto Flex";
}
 
